
section#home{
  padding:0;
  position:relative;
}
.parallax-window {
    min-height: 75vh;
    background: transparent;
}
.parallax-window-min {
    min-height: 75vh;
    background: transparent;
}
.float-content{
  position:relative;
  width:100%;
  height:75vh;
  display:block;
  padding-top:60px;
}
.float-content .container{position:relative;}
.float-content.float-content .panel{
  width: 390px;
  padding:30px 20px 20px;
  border-radius:0;
  position:absolute;
}

.panel#penal{background-color:rgba(49,40,28,0.56);color:#fff;}
.panel#civil{background-color:rgba(48,173,169,0.56);color:#fff;}
.panel#corporativo{background-color:rgba(255,255,255,0.56);color:#000;}
.panel#familiar{background-color:rgba(255,255,255,0.56);color:#000;}
.panel#sucesiones{background-color:rgba(0,0,0,0.56);color:#fff;}
.panel#mercantil{background-color:rgba(188,49,26,0.56);color:#fff;}
.panel#laboral{background-color:rgba(170,212,38,0.56);color:#000;}
.panel#amparo{background-color:rgba(0,0,0,0.56);color:#fff;}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (max-width: 1200px){
}
@media screen and (max-width: 991px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 600px){
}
@media screen and (max-width: 480px){
}




