
section#home{
  padding:0;
  position:relative;
  overflow:hidden;
}
#main-img{
    display:block;
    width:100%;
    height:auto;
    min-height:100vh;
    position:relative;
}
#main-img #sidebar-initial{
  position:absolute;
  width:100%;
  height: auto;
  text-align:center;
  top:10vw;
  left:0;
  z-index:3;
  pointer-events:none;
}
#logo-big{
  margin:10px auto;
  display:block;

}
.parallax-window {
    min-height: 75vh;
    background: transparent;
}
.parallax-window-min {
    min-height: 75vh;
    background: transparent;
}
.float-content{
  position:relative;
  width:100%;
  height:75vh;
  display:block;
  /*padding-top:60px;*/
}
.float-content .container{position:relative;}
.float-content .container .panel{
  width: 390px;
  padding:30px 20px 20px;
  border-radius:0;
  position:absolute;
  top:180px;
}
.panel#penal{background-color:rgba(49,40,28,0.56);color:#fff;left:calc(50% - 390px);top: 60px;}
.panel#civil{background-color:rgba(48,173,169,0.56);color:#fff;right:calc(50% - 390px);}
.panel#corporativo{background-color:rgba(255,255,255,0.56);color:#000;left:calc(50% - 390px);}
.panel#familiar{background-color:rgba(255,255,255,0.56);color:#000;right:calc(50% - 390px);}
.panel#sucesiones{background-color:rgba(0,0,0,0.56);color:#fff;left:calc(50% - 390px);}
.panel#mercantil{background-color:rgba(188,49,26,0.56);color:#fff;right:calc(50% - 390px);}
.panel#laboral{background-color:rgba(170,212,38,0.56);color:#000;left:calc(50% - 390px);}
.panel#amparo{background-color:rgba(0,0,0,0.56);color:#fff;right:calc(50% - 390px);}

#contacto{
  background:#fff;
  padding:90px 0;
  display:block;
}
#contacto .container{
  text-align:center;
}
#contacto p.mails{font-weight:700;}
/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (max-width: 1200px){
}
@media screen and (max-width: 991px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 600px){
}
@media screen and (max-width: 480px){
}




